# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
dbdumps

# Coverage directory used by tools like istanbul
coverage
.nyc_output
*.lcov

# Environment config
.env